html,
body {
  height: 100%;
  max-width: 768px;
  margin: auto;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.theme-toggle {
  padding-top: 1.5rem;
}

.neog-footer {
  text-align: center;
}

.out-of-stock {
  color: red;
}

.low-stock {
  color: yellow;
}

/* Hover effect for table rows */
table tbody tr td {
  transition: background-color 0.3s ease;
}

table tbody tr:hover td {
  background-color: #0f172b;
  cursor: pointer;
}
